.letterbox {
	padding: 0 5px;
/*	margin: 0 5px;  */
	min-width: 1em;
	text-align: center;
}

#current-word {
	display: inline-block;
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 2em;
}

.jumbotron {
text-align: center;
}

h1 {
	margin: auto;
	line-height: .7;
	text-align: center;
}

#legs {

/* Safari */
-webkit-transform: rotate(90deg) translateX(5px) translateY(-4px);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#arms {

/* Safari */
-webkit-transform: rotate(90deg) translateX(19px) translateY(-4px);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#head {

/* Safari */
-webkit-transform: translateX(-1px) translateY(19px);

/* Firefox */
-moz-transform:  translateX(5px) translateY(-4px);

/* IE */
-ms-transform:  translateX(5px) translateY(-4px);

/* Opera */
-o-transform:  translateX(5px) translateY(-4px);;

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}